---
layout: layouts/base.njk
title: Strona główna
---

<section class="hero text-center py-5">
  <div class="container-fluid px-0">
    <h1 class="display-4">{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>
  </div>
</section>

<div class="container">
  <div class="content-container">
    <section class="py-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card service-card konsultacje h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Konsultacje Ajurwedyjskie</h5>
              <p class="card-text">Indywidualne konsultacje oparte na zasadach Ajurwedy</p>
              <a href="/uslugi/#konsultacje" class="btn btn-sm btn-outline-primary">Dowiedz się więcej</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service-card masaz h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Masaże Ajurwedyjskie</h5>
              <p class="card-text">Terapeutyczne masaże oparte na tradycyjnej medycynie Ajurwedy</p>
              <a href="/uslugi/#masaz" class="btn btn-sm btn-outline-primary">Dowiedz się więcej</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service-card oczyszczanie h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Oczyszczanie i Aromaterapia</h5>
              <p class="card-text">Terapie oczyszczające oraz aromaterapia w tradycji Ajurwedyjskiej</p>
              <a href="/uslugi/#oczyszczanie" class="btn btn-sm btn-outline-primary">Dowiedz się więcej</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> 